<html>
    <head>
        <title>
            login failed
        </title>
        <style type="text/css">
            .main{
                width: 400px;
                height: 250px;
                margin: auto;
                
                color:  black;
                align-items: center;
                justify-content: center;
                margin-top: 200px;
            }
            body{
                background-color: rgb(83, 95, 91);
                background-image:url("https://queen.com.au/wp-content/uploads/2020/10/Formbackground.png");
                background-repeat: no-repeat;
                background-size: 1400px 750px;

            }
        </style>
    </head>
    <body style="text-align: center;">
        <div class="main">
            <h2>
                Login is not succesful<br>check the credientials again<br>
            </h2>
            <h3>If you don't have account <a href=/register>Register here</a></h3>
        </div>
    </body>
</html>