<!DOCTYPE html>
<html>
    <head>
        <title>Registration page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
        <style type="text/css">
            body{
                padding-top: 150px;
                background-image: url("https://img.freepik.com/free-photo/healthy-vegetables-white-background_1150-38012.jpg?w=2000");
                background-size:cover;
                background-position:right;
            }
            .form-signup{
                margin: auto;
                max-width: 300px;
                padding: 15px;
                margin-top: 10px;
                margin-bottom: 101px;
                margin-right: 10px;
                margin-left: 550px;
                border-radius: 25px;

            }
            .form-signup h2{
                text-align: center;
            }
        </style>
    </head>
    <body>
            <form action="/signup" class="form-signup" method="get">
                <h2>Sign Up</h2>
                <p>Create your account</p>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" required  name="name" id="name" placeholder="Enter User name">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control"  required name="email" id="email" placeholder="Enter Email id">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" required name="pwd" id="pwd" placeholder="Enter Password">
                </div>
                <br>
                <input type="submit" class="btn btn-success btn-block" name="submit" value="submit">
            </form>

    </body>
</html>