<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<style type="text/css">
body{
    background-image:url("https://img.freepik.com/premium-photo/healthy-food-background-autumn-fresh-vegetables-dark-stone-table-with-copy-space-top-view_127032-1954.jpg?w=2000");
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   
 
   
}
.look{
    width: 500px;
    height: 250px;
    text-align: center;
    background-color: antiquewhite;
    margin-left: 450px;
    margin-top: 250px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 25px;

}
.look h3{
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;
}
#name{
    width: 250px ;
    text-align: center;
    margin-left: 120px;
    margin-top: 20px;
}
</style>
</head>

<body>

    <div class="look" >
        <h3 >Enter the product you want to search</h3>
        <form action="/getinfo" class="look1" method="get" >
            <input type="text" placeholder="Enter Product" required name="name" id="name" class="form-control">
            <br>
            <button type="submit" class="btn btn-danger">Search</button>
        </form>
    </div>
   
</body>
</html>